.test-wrapper {
  height: 50vh;
}

.test-doctor {
  width: 100%;
  height: 60vh;
}

/* .test-doctor{
    margin-left: 50rem;
    height: 40rem;
    border: none;
  } */
.test-header {
  /* border: 1px solid purple; */
  position: relative;
  bottom: 32rem;
  left: 1rem;
  /* color: rgb(96, 186, 92); */
  color: orange;
  font-size: 3rem;
  font-weight: 800;
  width: 35%;
}

.test-desc {
  position: relative;
  bottom: 30rem;
  left: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  /* border: 1px solid purple; */
  width: 35%;
}
.btn-class {
  position: relative;
  bottom: 27rem;
  right: 47rem;
  background-color: rgb(96, 186, 92);
  color: white;
  padding: 0.5rem 2rem 0.5rem 2rem;
  /* border: 1px solid purple; */
}
.num {
  position: relative;
  left: 14rem;
  bottom: 29rem;
  font-weight: bold;
  /* border: 1px solid purple; */
  width: 15%;
}
.submit-btn {
  position: relative;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* position: absolute; */
  left: 40rem;
  padding: 1rem 8rem 1rem 7rem;
  text-align: center;
  border: 1px solid purple;
  bottom: 52rem;
  border-radius: 1rem;
}
/* .doctor-form {
    position: absolute;
    right: 15rem;
    top: 13rem;
    font-size: 2rem;
  } */
.doc-details {
  display: block;
  position: relative;
  left: 90rem;
  bottom: 53rem;
  /* border: 1px solid peru; */
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: white;
  margin: 1rem;
  border: 1px solid purple;
}

@media only screen and (max-width: 700px) {
  .test-wrapper {
    height: 30vh;
  }

  .test-doctor {
    height: 40vh;
  }

  .test-header {
    bottom: 20rem;
    left: 0.5rem;
    font-size: 2rem;
    width: 80%;
  }

  .test-desc {
    bottom: 18rem;
    left: 0.5rem;
    font-size: 1rem;
    width: 80%;
  }

  .btn-class {
    bottom: 15rem;
    right: 20rem;
  }

  .num {
    left: 10rem;
    bottom: 17rem;
    width: 50%;
  }

  .submit-btn {
    left: 10rem;
    padding: 1rem 4rem 1rem 3rem;
    bottom: 32rem;
  }

  .doc-details {
    left: 50rem;
    bottom: 33rem;
    padding: 0.5rem;
  }
}
